h1{
  text-align: center;
  font-family:Georgia,serif;
  color: darkgrey
  }

h3{
  text-align: center;
  font-family: Georgia,serif;
  color: darkgrey
  }

#highlight{
  text-align: center;
  background-color: darkgrey;
  font-weight: lighter;
  font-family: Georgia,serif;
  font-size: 20px;
  }

.lyric{
  text-align: center;
  font-family: Georgia,serif;
  font-size: 20px;
  }
