body{
  background-color: #dedcd7
}

nav {
  text-align: center;
  border: thin solid #91908d;
  background-color: #bab9b5;
}

div {
  border: thin solid black;
  margin: 25px 0;
}

footer {
  border: thin solid black;
}
