body{
  background-color: #dedcd7
}

nav {
  text-align: center;
  border: thin solid #91908d;
  background-color: #bab9b5;
}

div {
  border: thin solid #91908d;
  margin: 25px 0;
}

h1{
  font-size: 20px;
  text-align: center;
}

p{
  font-size: 18px;
  text-align: left;
}

.basictext{
  display: inline-block;
  font-size: 18px;
}
