body{
  background-color: #c2c2c2;
}

#question-one{
  text-align: center;
  background-color: #f2b76f;
}

#question-two {
  display: none;
  text-align: center;
}

#question-three{
  display: none;
  text-align: center;
}

#question-four{
  display: none;
  text-align: center;
}

#done {
  display: none;
  text-align: center;
}

button{
  height: 25px;
  width: 60px;
  background: teal;
  color: black;
  border-radius: 10px;
  font-size: 15px;
}

h1{
  text-align: center;
}

h2

h3

p
