#question-one{
  text-align: center;
  background-color: #ed6464;
}

#question-two {
  display: none;
  text-align: center;
  background-color: #8cc47e;
}

#question-three{
  display: none;
  text-align: center;
  background-color: #d3d678;
}

#question-four{
  display: none;
  text-align: center;
  background-color: #75c3d1;
}

#done {
  display: none;
  text-align: center;
}

button{
  height: 25px;
  width: 60px;
  background: teal;
  color: black;
  border-radius: 10px;
  font-size: 15px;
}

p{
  text-align: center;
  font-size: 25px;
}
