#question-two {
  display: none;
}

#question-three{
  display: none;
}

#question-four{
  display: none;
}

#done {
  display: none;
}

button{
  height: 25px;
  width: 60px;
  background: teal;
  color: black;
  border-radius: 10px;
  font-size: 15px;
}

h1

h2

h3
